[submodule "2ndparty/industrial-controls"]
	path = 2ndparty/industrial-controls
	url = git@github.com:Midgrad/industrial-controls.git
[submodule "2ndparty/industrial-indicators"]
	path = 2ndparty/industrial-indicators
	url = git@github.com:Midgrad/industrial-indicators.git
[submodule "kjarni"]
	path = kjarni
	url = git@github.com:Midgrad/kjarni
[submodule "modules/Adsbera"]
	path = modules/Adsbera
	url = git@github.com:Midgrad/Adsbera.git
[submodule "modules/Jerom-The-Mavlink"]
	path = modules/Jerom-The-Mavlink
	url = git@github.com:Midgrad/Jerom-The-Mavlink.git
