[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "2ndparty/industrial-controls"]
	path = 2ndparty/industrial-controls
	url = ../industrial-controls.git
[submodule "2ndparty/industrial-indicators"]
	path = 2ndparty/industrial-indicators
	url = ../industrial-indicators.git
[submodule "kjarni"]
	path = kjarni
	url = ../kjarni
[submodule "2ndparty/loodsman"]
	path = 2ndparty/loodsman
	url = ../loodsman.git
[submodule "2ndparty/jord"]
	path = 2ndparty/jord
	url = ../jord.git
[submodule "modules/Adsbera"]
	path = modules/Adsbera
	url = ../Adsbera.git
[submodule "modules/Jerom-The-Mavlink"]
	path = modules/Jerom-The-Mavlink
	url = ../Jerom-The-Mavlink.git
