[submodule "2ndparty/industrial-controls"]
	path = 2ndparty/industrial-controls
	url = ../industrial-controls.git
[submodule "2ndparty/industrial-indicators"]
	path = 2ndparty/industrial-indicators
	url = ../industrial-indicators.git
[submodule "kjarni"]
	path = kjarni
	url = ../kjarni
[submodule "modules/Adsbera"]
	path = modules/Adsbera
	url = ../Adsbera.git
[submodule "modules/Jerom-The-Mavlink"]
	path = modules/Jerom-The-Mavlink
	url = ../Jerom-The-Mavlink.git
